{% include head.html %}
{% include nav.html %}
    <section id="post">
        <div class="header">
            <div class="container">Le <span>blog</span></div>
        </div>
        <div class="container">
        <article>
            <div>
                <div class="cover" style="background-image:url(/images/{{ page.cover }})">
                    <div class="date">posté le {{ page.date | date: "%d/%m/%Y"}} par {{ page.author }}</div>
                </div>
                <h2><a href="{{ page.url }}">{{ page.title }}</a>
                    <ul class="tags">
                        {% for tag in page.tags %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </h2>
                <div class="content">
                    {{ content }}
                </div>
                <div class="back">
                    <a href="/blog/index.html"><i class="fa fa-arrow-circle-o-up"></i> Retour aux articles</a>
                    <div class="pull-right paginate">
                        {% if page.previous %}
                        <a href="{{ page.previous.url}}"><i class="fa fa-arrow-circle-o-left"></i> Précédent</a>
                        {% else %}
                        <span class="disabled"><i class="fa fa-arrow-circle-o-left"></i> Précédent</span>
                        {% endif %}
                        {% if page.next %}
                        <a href="{{ page.next.url}}"><i class="fa fa-arrow-circle-o-right"></i> Suivant</a>
                        {% else %}
                        <span class="disabled"><i class="fa fa-arrow-circle-o-right"></i> Suivant</span>
                        {% endif %}
                    </div>
                </div>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'codetroopers'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

            </div>
        </article>
        </div>
    </section>
{% include footer.html %}
{% include foot.html %}


