<section id="contact">
    <h1>Contact</h1>
    <div>
        <div><iframe
                    width="100%"
                    height="100%"
                    loading="lazy"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBZkgfEiV0p1XY0-7jptEa500_MhqZQUYk&q=Code-Troopers,+37000+Tours+France&zoom=15">
            </iframe></div>
        <div>
            <h2>Code-Troopers</h2>
            <p>
                26 bis rue Abraham Bosse<br>
                37000 Tours - Fr
            </p>
            <p>
                <a href="mailto:contact@code-troopers.com">contact@code-troopers.com</a>
            </p>
            <p>
                <a class="button" href="tel:+33782287216">07 82 28 72 16</a>
            </p>
        </div>
    </div>

    <h1>Suivez nos actualités</h1>

    <ul class="flex">
        <li>
            <a href="https://facebook.com/codetroopers37">
                <i class="ri-facebook-fill ri-3x"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/codetroopers">
                <i class="ri-twitter-x-fill ri-3x"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/code-troopers">
                <i class="ri-github-fill ri-3x"></i>
            </a>
        </li>
    </ul>
</section>

<footer>
    <div class="wrapper">
        <a href="#top" class="scroll-to-top">
            <img class="arrow" src="/img/arrow.png" alt="arrow">
        </a>
        <img src="/img/footer_logo.png" alt="logo">
        <div>
            <span>©2014 — {{ now.Year }} Code-Troopers | <a href="/legals.html">Mentions légales</a></span>
            <span>Design : <a href="https://www.descheval.com/">descheval.com</a> | Développement : Code-Troopers</span>
        </div>
    </div>
</footer>