<section id="contact">
    <h1>Contact</h1>
    <div>
        <div>
            <img class="cover" loading="lazy" src="/img/legos_contact.webp" alt="legos" width="100%" height="100%">
        </div>
        <div>
            <h2>Code-Troopers</h2>
            <p>
                26 bis rue Abraham Bosse<br>
                37000 Tours - Fr
            </p>
            <p>
                <a href="mailto:contact@code-troopers.com">contact@code-troopers.com</a>
            </p>
            <p>
                <a class="button" href="tel:+33782287216">07 82 28 72 16</a>
            </p>
        </div>
    </div>

    <h1>Suivez nos actualités</h1>

    <ul class="flex x3">
        <li>
            <a aria-label="Facebook Code-Troopers" href="https://facebook.com/codetroopers37">
                {{ partial "svg" "facebook-fill" }}
            </a>
        </li>
        <li>
            <a aria-label="Twitter Code-Troopers" href="https://twitter.com/codetroopers">
                {{ partial "svg" "twitter-x-fill" }}
            </a>
        </li>
        <li>
            <a aria-label="Github Code-Troopers" href="https://github.com/code-troopers">
                {{ partial "svg" "github-fill" }}
            </a>
        </li>
    </ul>
</section>

<footer>
    <div class="wrapper">
        <a href="#top" class="scroll-to-top" title="Retourner en haut de la page">
            <img class="arrow" loading="lazy" src="/img/arrow.webp" alt="arrow icon">
        </a>
        <img src="/img/footer_logo.webp" alt="logo Code-Troopers">
        <div>
            <span>©2014 — {{ now.Year }} Code-Troopers | <a href="/legals">Mentions légales</a></span>
            <span>Design : <a href="https://www.descheval.com/">descheval.com</a> | Développement : Code-Troopers</span>
        </div>
    </div>
</footer>