<head>
  <title>{{ .Title }} - {{ $.Site.Title }}</title>
  <meta name="description" content="{{ .Description }}" />

  {{ $stylesheet := .Site.Data.webpack.main }} {{ with $stylesheet.css }} {{ if
  (reflect.IsSlice .) }} {{ range . }}
  <link href="{{ . | relURL }}" rel="stylesheet" />
  {{ end }} {{ else }}
  <link href="{{ . | relURL }}" rel="stylesheet" />
  {{ end }} {{ end }}
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  />
  <base href="{{ $.Site.BaseURL }}" />
  <!-- Favicons -->
  <link rel="icon" href="/favicon.png" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400" />
  <meta name="theme-color" content="#fff" />

  <link rel="canonical" href="{{ printf "%s%s" site.Params.siteUrl .RelPermalink }}" />

  <!-- Open Graph + Twitter Card -->
  {{ partial "opengraph.html" . }} {{ if .IsHome }}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}

  {{ if and .IsPage (eq .Section "blog") }}
  {{ $cover := "" }}
  {{ with .Resources.GetMatch .Params.cover }}
    {{ with .Fill "1200x630 Center" }}
      {{ $cover = printf "%s%s" site.Params.siteUrl .RelPermalink }}
    {{ end }}
  {{ end }}
  {{ $pageUrl := printf "%s%s" site.Params.siteUrl .RelPermalink }}
  {{ $ld := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" .Description
    "image" $cover
    "datePublished" (.Date.Format "2006-01-02")
    "dateModified" (.Lastmod.Format "2006-01-02")
    "inLanguage" "fr-FR"
    "author" (dict "@type" "Organization" "name" (.Params.author | default "Code-Troopers") "url" "https://code-troopers.com/")
    "publisher" (dict "@type" "Organization" "name" "Code-Troopers" "url" "https://code-troopers.com/" "logo" (dict "@type" "ImageObject" "url" "https://code-troopers.com/img/Code-Troopers.png"))
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" $pageUrl)
  }}
  <script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
  {{ end }}

  <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
    defer
  ></script>
</head>
