{{ if gt .Paginator.TotalPages 1 }}

<nav class="cf pa3" aria-label="Pagination">
    {{ if .Paginator.HasPrev }}
    <a class="fl dib link dim black f6 f5-ns b pa2" title="Page précédente" href="{{ .Paginator.Prev.URL }}">
        &larr; Page précédente
    </a>
    {{ end }}
    <div class="pagination">
        {{ if .Paginator.HasNext }}
        <a class="fl dib link dim black f6 f5-ns b pa2" title="Page suivante" href="{{ .Paginator.Next.URL }}">
            Page suivante &rarr;
        </a>
        {{ end }}
    </div>
</nav>

{{ end }}
