<section id="skills">
    <div class="wrapper">
        <h1>Compétences</h1>
        <ul class="flex">
            <li>
                <img src="img/skill_conception.png" alt="logo conception"/>
                <div class="title">
                    Conception & Analyse
                </div>
                <div>
                    Nous vous accompagnons et vous apportons des solutions innovantes.
                </div>
            </li>
            <li>
                <img src="img/skill_dev.png" alt="logo dev"/>
                <div class="title">
                    Développement d’application
                </div>
                <div>
                    Nous réalisons des développements logiciels et mobiles sur-mesure.
                </div>
            </li>
            <li>
                <img src="img/skill_design.png" alt="logo design"/>
                <div class="title">
                    Design d’interface
                </div>
                <div>
                    Sensibles à vos besoins esthétiques, les Troopers réalisent des interfaces graphiques, ainsi que des
                    applications créatives.
                </div>
            </li>
            <li>
                <img src="img/skill_maintenance.png" alt="logo maintenance"/>
                <div class="title">
                    Maintenance & Suivi
                </div>
                <div>
                    Nous sommes présents tout au long des étapes de vos projets online. Les Troopers sont expérimentés
                    et travaillent en équipe : ici le dialogue-client n’est jamais interrompu.
                </div>
            </li>
        </ul>
    </div>
</section>