<section id="casting">
    <h1>Casting</h1>
    <div class="wrapper">
        <div class="casting-img-container">
              <div class="photo">
                <img src="/img/team0.webp" alt="Photo d'équipe 0">
              </div>
              <div class="photo">
                <img src="/img/team2.webp" alt="Photo d'équipe 2">
              </div>
              <div class="photo">
                <img src="/img/team3.webp" alt="Photo d'équipe 3">
              </div>
              <div class="photo">
                <img src="/img/team4.webp" alt="Photo d'équipe 4">
              </div>
              <div class="photo">
                <img src="/img/team1.webp" alt="Photo d'équipe 1">
              </div>
              <div class="photo">
                <img src="/img/team5.webp" alt="Photo d'équipe 5">
              </div>

        </div>
        <div class="wrapper-center">
            <a href="/team" class="btn dark">Découvrez les Troopers qui participeront à votre projet</a>
        </div>
        <div class="wrapper-center">
            <a href="https://team.code-troopers.com">Envie de nous rejoindre ? Plus d'information sur les troopers, vu de l'intérieur</a>
        </div>
    </div>
</section>
