@import "../bower_components/bootstrap3-less-js/less/bootstrap";
@import "../bower_components/font-awesome/less/font-awesome";
@import (less) "../bower_components/owlcarousel/owl-carousel/owl.carousel.css";
@import (less) "../bower_components/owlcarousel/owl-carousel/owl.theme.css";

@fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts";

@primary-color : #004353;
@text-color: @primary-color;
@secondary-color: #729E51;
@link-color: @text-color;
@white: #FFF;

body {
  color: @primary-color;
  background-color: @primary-color;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  cursor: pointer;
}

.img-responsive{
  max-width: 99%; //Fix blink bug with carousel
}

section{
  background-color: @white;
}

footer, section {
  a {
    color: @secondary-color;
    border-bottom: 1px dotted @secondary-color;
    .transition(color 0.2s ease);
    &:hover {
      text-decoration: none;
      color: darken(@secondary-color, 20%);
      border-color: darken(@secondary-color, 20%);
    }
  }
}

.text-justify {
  text-align: justify;
}

.text-center{
  text-align: center;
}

.padding-none {
  padding: 0;
}

.space-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbar-brand {
  padding: 2px 15px;
  .logo {
    height: 46px;
  }
  .brand {
    padding: 15px;
  }
}

.affix {
  position: relative;
}

@media (min-width: @screen-sm) {

  .affix {
    position: fixed;
    background-color: @white;
    width: 100%;
    z-index: 10;
    .box-shadow(0 0 10px black);
    + * {
      padding-top: 50px;
    }
  }

}

header {
  background-color: @white;
  width: 100%;
  z-index: 10;
}

section {
  h1 {
    display: none;
  }
  .header {
    background-color: @primary-color;
    color: @white;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    span {
      color: @secondary-color;
      white-space: nowrap;
      &.label {
        color: white;
        background-color: @secondary-color;
      }
      i {
        padding: 0 10px;
      }
    }
  }

  .resume {
    margin-top: 20px;
    margin-bottom: 20px;
    .bloc {
      text-align: center;
      p {
        text-align: justify;
      }
    }
  }

  ul.skills {
    .owl-item{
      text-align: center;
    }
    img{
      height: 100px;
    }
    figcaption {
      display: none;
    }
  }

  ul.margin-none {
    margin: 0;
    overflow: hidden;
  }

  ul.projects {
    > li {
      > figure {
        overflow: hidden;
        position: relative;
        .arrow {
          position: absolute;
          left: -115px;
          top: 40%;
          background-color: @secondary-color;
          color: @white;
          padding: 25px 30px;
          padding-left: 50px;
          .transition(left 0.3s ease);
          border-radius: 76px;
          cursor: pointer;
          .box-shadow(0 0 5px 0 black);
        }
        &:hover .arrow {
          left: -40px;
        }
        img {
          border: 20px solid @white;
        }
      }

    }
  }
}

ul.troopers {
  > li > figure > a {
    border: none;
    > img {
      .transition(border-width 0.3s ease);
      border: 19px solid @white;
    }
    &:hover > img {
      border-width: 0;
    }
  }
}

ul.socials {
  li {
    display: inline-block;
    font-size: 48px;
    a {
      border: none;
    }
  }

}

footer {
  background-color: @primary-color;
  background-image: url('../images/codetroopers-footer.png');
  background-repeat: repeat-x;
  padding: 20px 0;
  color: @white;
  a {
    color: @white;
    border-bottom: 1px dotted @white;
    &:hover {
      text-decoration: none;
      color: @secondary-color;
      border-color: @secondary-color;
    }
  }
  .footer-under {
    text-align: center;
  }
}

article{
  p{
    text-align: justify;
    line-height: 1.4em;
    font-size: 1.1em;
  }
  h2 .date{
    .pull-right;
    .label;
    .label-primary;
    font-size: 0.5em;
    font-weight: normal;
    background-color: @secondary-color;
  }
  .header .date{
    font-size: 0.5em;
  }
}

.header + .container{
  padding-top:20px;
}
