<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body id="top" class="sans-serif">
    <a href="#main-content" class="skip-link">Aller au contenu principal</a>

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
    <script>
      const d = new Date();
      // Show April Fools' joke
      if (d.getMonth() === 3 && d.getDate() === 1) {
          $.getScript("/js/april.js");
      }
    </script>
  </body>
</html>
