{{ $baseurl := .Site.BaseURL }}

<div class="tips-snippet-container">
  <div class="tips-snippet">
  <div>
    <h2>
      {{ if .Truncated }}
      <a aria-label="En savoir plus sur {{ .Title }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ else }}
      {{ .Title }}
      {{ end }}
    </h2>
    <ul class="tags">
      {{ range $index, $tag := .Params.tags }}
      <li><a aria-label="Tag {{ $tag }}" href="/tipstags/{{ $tag | urlize }}/">{{ $tag }}</a></li>
      {{ end }}
    </ul>
    <p>{{ .Summary | truncate 100 }}</p>
    {{ if .Truncated }}
    <a aria-label="Voir tous les articles" class="read-more" href="{{ .Permalink }}">En savoir plus
      {{ partial "arrow_right.html" . }}
    </a>
    {{ end }}
  </div>
  </div>
</div>