{{ define "main" }}

<section id="tips">
    <h1>
        Tips
    </h1>

    <div class="wrapper">
        {{ range $index, $page := .Paginator.Pages }}
            {{ .Render "li" }}
        {{ end }}
    </div>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <nav class="pagination" aria-label="Pagination">
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="previous-page">
            <span class="arrow">{{ partial "arrow_left.html" . }}</span>
            Page précédente
        </a>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="next-page">
            Page suivante
            <span class="arrow">{{ partial "arrow_right.html" . }}</span>
        </a>
        {{ end }}
    </nav>
    {{ end }}

</section>
{{end}}