{{ define "main" }}
<section id="work">
    <div class="wrapper">
        <h1>
            Réalisations
        </h1>
    </div>

    <section id="article">
        <div class="wrapper">
            <article>
                {{ with .Resources.GetMatch .Params.cover }}
                    {{ with .Process "webp q100" }}
                        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Illustration de {{ $.Title }}">
                    {{ end }}
                {{ end }}

                <div class="wrapper-content">
                    <h2>{{ .Title }}</h2>
                    {{if .Params.tags }}
                    <ul class="skill">
                        {{ range $index, $tag := .Params.tags }}
                            {{ partial "tag" $tag}}
                        {{ end }}
                    </ul>
                    {{ end }}
                    <div class="content">
                        {{ .Content }}
                    </div>
                    <div class="content-footer">
                        {{if .Params.tags }}
                        <ul class="skill float">
                            {{ range $index, $tag := .Params.tags }}
                                {{ partial "tag" $tag}}
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                    <div class="share">
                        <span>Partager</span>
                        <ul class="socials">
                            <li>
                                <a target="_blank" rel="nofollow noopener"
                                    aria-label="Partager sur Bluesky (nouvelle fenêtre)"
                                    href="https://bsky.app/intent/compose?text={{ .Title }}+https://code-troopers.com{{ .RelPermalink }}"
                                    onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
                                    {{ partial "svg" "bluesky-fill" }}
                                </a>
                            </li>
                            <li>
                                <a target="_blank" rel="nofollow noopener"
                                    aria-label="Partager sur LinkedIn (nouvelle fenêtre)"
                                    href="https://www.linkedin.com/sharing/share-offsite/?url=https://code-troopers.com{{ .RelPermalink }}"
                                    onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
                                    {{ partial "svg" "linkedin-fill" }}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <nav id="menu" aria-label="Taxonomies">
                        <ul>
                            {{ range $key, $taxonomy := .Site.Taxonomies.featured }}
                            <li>{{ $key }}
                                <ul>
                                    {{ range $taxonomy.Pages }}
                                    <li data-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></li>
                                    {{ end }}
                                </ul>
                            </li>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </article>
        </div>
    </section>
</section>
{{ end }}
