{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<section id="blog">
    <div class="wrapper">
        <h1>
            {{ if eq .Title "Blogs" }}
            Blog
            {{ else }}
            {{ .Title }}
            {{ end}}
        </h1>
    </div>


    <section id="articles">
        <div class="wrapper">
            {{ range $index, $page := .Paginator.Pages }}
            {{ .Render "li" }}
            {{ end }}
        </div>
        <div class="row text-center">
            {{ template "_internal/pagination.html" . }}
        </div>
    </section>
</section>
{{ partial "footer.html" . }}
