@import 'variables';
@import 'mixins';

ul{
  list-style: none;
  display: flex;
  width: 1200px;
  margin: auto;
  max-width: 100%;
  flex-wrap: wrap;

  li{
    flex: 1;
    margin: 2rem;
    text-align: center;
    color: $grey;

    div:first-child{
      @include gradient-text($gradient, 'light');
      font-size: 3rem;
      font-weight: bold;
      padding-bottom: 0.8rem;
    }

    div:last-child{
      &:before {
        content: ' ';
        display: block;
        padding-top: 0.8rem;
        margin: auto;
        border-top: 1px solid $grey;
        width: 50px;
      }
    }
  }
}