<script src="/bower_components/jquery/dist/jquery.js"></script>

<!-- build:js /scripts/plugins.js -->
<script src="/bower_components/bootstrap3-less-js/js/tooltip.js"></script>
<script src="/bower_components/bootstrap3-less-js/js/modal.js"></script>
<script src="/bower_components/bootstrap3-less-js/js/collapse.js"></script>
<script src="/bower_components/bootstrap3-less-js/js/affix.js"></script>
<script src="/bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
<script src="/bower_components/owlcarousel/owl-carousel/owl.carousel.js"></script>
<script src="/bower_components/lightbox2/dist/js/lightbox.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) /scripts/scripts.js -->
<script src="/scripts/scripts.js"></script>
<!-- endbuild -->

</body>
</html>
