<!doctype html >
<html class="no-js" lang="fr" itemscope itemtype="http://schema.org/Organization">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>{{page.title}}</title>
        <meta property="fb:app_id" content="432735746865877"/>
        <meta property="og:url" content="http://code-troopers.com{{ page.url }}"/>
        <meta property="og:title" content="{{page.title}}"/>
        <meta property="twitter:card" content="summary"/>
        <meta property="twitter:site" content="codetroopers"/>
        <meta property="twitter:image:src" content="{% if page.cover %}{{site.url}}/images/banner/{{ page.cover }}.png{% else %}{{ site.url }}/images/logo.png{% endif %}"/>
        <meta property="og:image" content="{% if page.cover %}{{site.url}}/images/banner/{{ page.cover }}.png{% else %}{{ site.url }}/images/logo.png{% endif %}"/>
        <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
        <meta property="twitter:creator" content="@{% if page.twitter %}{{ page.twitter }}{% else %}codetroopers{% endif %}"/>
        <meta property="twitter:domain" content="{{site.url}}"/>
        {% if page.twitterdescription %}
        <meta property="twitter:description" content="{{ page.twitterdescription }}">
        {% else %}
        {% if page.description %}
        <meta property="twitter:description" content="{{ page.description | truncatewords: 20 | strip_newlines | escape_once  | replace:'"','' }}">
        {% else %}
        <meta property="twitter:description" content="{{ content | strip_html | truncatewords: 20 | strip_newlines | escape_once | replace:'"','' }}">
        {% endif %}
        {% endif %}
        {% if page.description %}
        <meta name="description" content="{{ page.description | truncatewords: 200 | strip_newlines | escape_once | replace:'"','' }}" />
        <meta property="og:description" content="{{ page.description | truncatewords: 200 | strip_newlines | escape_once | replace:'"','' }}">
        {% else %}
        <meta name="description" content="{{ content | strip_html | truncatewords: 200 | strip_newlines | escape_once | replace:'"','' }}" />
        <meta property="og:description" content="{{ content | strip_html | truncatewords: 200 | strip_newlines | escape_once | replace:'"','' }}">
        {% endif %}
        <meta name="viewport" content="width=device-width">

        <!-- build:css(.tmp) /styles/main.css -->
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/pygments.css">
        <!-- endbuild -->

        <!-- build:js /scripts/ie8.js -->
        <!--[if lt IE 9]>
                <script src="/bower_components/respond/dest/respond.min.js"></script>
                <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
                <script src="/bower_components/es5-shim/es5-shim.js"></script>
        <![endif]-->
        <!-- endbuild -->
        <meta itemprop="name" content="CT-CDGT"/>
        <meta itemprop="name" content="CT-RMLC"/>
        <meta itemprop="name" content="CT-BNCS"/>
        <meta itemprop="name" content="CT-JRPT"/>
        <meta itemprop="name" content="CT-MTBL"/>
        <meta itemprop="name" content="CT-FLCH"/>
        <meta itemprop="name" content="CT-VCMB"/>
    </head>
    <body>
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWLQD2"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NWLQD2');</script>
        <!-- End Google Tag Manager -->
        <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
                href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
