<header data-spy="affix" class="affix-top">
    <div class="container">
        <div class="navbar-header" itemscope itemtype="http://schema.org/Organization">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span><i class="fa fa-bars fa-2x"></i></span>
            </button>
            <a class="navbar-brand" href="/"><img itemprop="logo" class="logo" alt="Code-Troopers logo" title="Code-Troopers logo" src="/images/logo.png">
                <span itemprop="name" class="brand">Code-Troopers</span>
            </a>
        </div>
        <nav class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a data-scrollToLink="aboutUs">À propos</a></li>
                <li><a data-scrollToLink="projects">Réalisations</a></li>
                <li><a data-scrollToLink="skills">Compétences</a></li>
                <li><a data-scrollToLink="team">L'équipe</a></li>
                <li><a data-scrollToLink="contact">Contact</a></li>
                <li><a href="/blog/index.html">Blog</a></li>
            </ul>
        </nav>
        <!--/.nav-collapse -->
    </div>
</header>
