@import "variables";

section#blogs {
  background: $darkGradient;
  color: $white;

  & > * {
    margin: 0 auto;
  }

}

section#articles {
  & > * {
    margin: 0 auto;
  }

  .wrapper {
    $light: $lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .blog-snippet-container {

      &::before{
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        width: 25%;
        height: 10px;
        background: $light;
        border-radius: 10px;
        transition: .5s;
        box-shadow: 0 0 10px opacify($color: $light, $amount: 0.5);
      }

      &:hover {
        border-color: $light;
        &::before{
          bottom: 0;
          height: 4%;
          width: 90%;
          border-radius: 30px;
        box-shadow: 0 0 70px opacify($color: $light, $amount: 0.7);
        }
      }
      position: relative;

      border: 2px solid rgba(255,255,255,0.1);
      border-radius: 15px;
      background: rgba(27,30,43,0.5);


      margin: 2rem;
      flex: 1;

    .blog-snippet {
      border-radius: 15px;
      .read-more {
        font-size: 0.9rem;
        position: absolute;
        bottom: 30px;
      }
      a.read-more {
        display: inline-block;
        width: 40%;
        @include arrows($white);
        .arrow_box_right {
          margin-left: -0.6rem;
        }
        transition: width 1s ease-in-out;
        &:hover {
          @include arrows($lightblue);
          color: $lightblue;
          width: 75%;

        }
      }

      img {
        max-width: 100%;
      }

      .img-container{
        height: 200px;
        background-size: cover;
        background-position: 50%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      & > div {
        padding: 1rem 3rem;
        h2 {
          @include separator($white);
        }

        p {
          font-size: 0.9rem;
          line-height: 1.3rem;
        }

      }
      transition: 0.1s;
      z-index: 1;
      backdrop-filter: blur(15px);
      height: 100%;
      padding-bottom: 60px;
    }
    }
  }

  @include tags($lightgrey);
  ul.tags {
    li a {
      color: $lightgrey;
    }
  }
}

section#blog {
  background: $white;
  & > * {
    margin: 0 auto;
  }
  article {
    & > img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
    & > .wrapper-content {
      margin-left: 1rem;
      margin-right: 1rem;

      & > h2 {
        @include separator($black);
        letter-spacing: initial;
      }
      .center{
        text-align: center;
      }
      .content {
        letter-spacing: initial;
        a {
          color: $lightblue;
          word-wrap: break-word;

          &:hover {
            color: darken($lightblue, 10%);
          }
        }
        margin: 0.5rem;
        color: $darkgrey;
        font-family: "Montserrat Light", "Helvetica Neue", Arial, sans-serif;
        h1, h2, h3, h4, h5, h6 {
          color: $black;
          font-family: "Montserrat", Helvetica, Arial, sans-serif;
        }
        .hljs {
          font-size: 1rem;
        }
        code:not(.hljs) {
          background: #EEE;
          padding: 4px;
          border-radius: 4px;
          border: 1px solid gainsboro;
        }
 
        @include separator($black);
        pre {
          width: 100%;
          overflow: auto;
        }
        .inlineBoxes {
          img {
            padding: 1rem;
            max-width: 20rem;
          }
        }
        ul {
          list-style: disc inside;
          li {
            > p {
              display: inline;
            }
          }
        }
        .underline{
          text-decoration: underline;
        }
        iframe {
          max-width: 100%;
        }

      }
      .content-footer {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .tags {
          flex: 1;
        }

        section#author {
          text-align: right;
          align-self: center;
          flex: 0.5;
          color: $darkgrey;
          font-size: 0.7rem;
          .author-name {
            background: $gradient;
            color: $white;
            padding: 0.5rem 1rem;
            border-radius: 0.75rem;
          }
        }
      }
    }

  }
  a {
    color: $darkgrey;
  }

  @include tags($lightgrey);

}

@media screen and (max-width: $tablet) {
  section#articles {
    .wrapper {
      & > div {
        min-width: 51%; //to force items to flow one below the other
        max-width: 700px;
      }
    }
  }
}

@media screen and (min-width: $smalldesktop) {
  section#articles {
    .wrapper {
      justify-content: start;
      & > div {
        min-width: calc(100% / 3 - 4rem);
        max-width: calc(100% / 3 - 4rem);
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  section#articles {
    & > * {
      width: 1200px;
    }
    .wrapper {
      & > div {
        &:nth-child(3n) {
          margin-right: 0 !important;
        }
      }
    }
  }
  section#blog {
    & > * {
      width: 900px;
    }
    article {
      .content {
        margin: inherit;
      }
      .content-footer {
        flex-direction: row;
      }
    }
  }
}
