@import 'variables';
@import 'mixins';

header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;

  & ~ section{
    &:target:before {
      content:"";
      display:block;
      height:20px;
      margin:-20px 0 0;
    }
  }

  .hiring a {
    position: fixed;
    border-radius: 0.5rem;
    top: 80px;
    right: 20px;
    text-decoration: none;
    border: 2px solid $darkblue;
    padding: 1rem 2rem;
    background: $gradient;
    color: $white;
    display: flex;
    align-items: center;
    
    img {
    width: 28px;
    margin-right: 8px;
    }
  }

  nav {
    background-color: $black;
    display: flex;


    a {
      color: $white;
      display: block;
      border-left: 1px solid $darkgrey;
      border-right: 1px solid $darkgrey;
      padding: 1.5rem 0;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      flex: 1;
      text-align: center;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
      border-bottom: 2px solid $darkgrey;
      max-height: 60px;
    }

    a:last-child {
      border-right: none;
    }
    a:first-child {
      border-left: none;
    }

    a.active {
      background: $gradient;
      color: $white;
      border-bottom: none;
    }

    a:hover {
      background: $white;

      span {
        @include gradient-text($gradient, 'light');
      }

      &.active {
        color: $lightblue;
        border-color: $lightblue;
      }
    }
  }
}

#company {
  background-size: cover;
  background-image: url('../img/header_large.jpg');
  @media screen and (max-width: $tablet) {
    background-image: url('../img/header_small.jpg');
    background-attachment: inherit;
  }
  background-position: center center;
  background-color: $grey;
  background-attachment: fixed;
  padding-bottom: 5rem;
  padding-top: 5rem;

  .logo {
    display: inherit;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .introduction {
    color: $white;
    margin: auto;
    width: 960px;
    max-width: 100%;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.6rem;

    h2 {
      @include separator($white)
    }

    div:first-child {
      flex: 1;

      p {
        font-size: 1.3rem;
        line-height: 2rem;
      }
    }

    div:last-child {
      margin-left: 5rem;
      flex: 2;
    }

    .gradient {
      font-size: 1.2rem;
      font-weight: bold;
      @include gradient-text($gradient, 'dark');
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
      padding-bottom: 0.1rem;
      border-bottom: 1px dotted $white;

      &:hover {
        color: $lightblue;
        border-color: $lightblue;
      }
    }
  }

}

@media screen and (max-width: $smalldesktop) {
  header {
    nav {
      a {
        display: none;
        &#id-company, &#id-blogs {
          display: initial;
        }
      }
    }
  }
  #company {
    .introduction {
      flex-direction: column;
      div:last-child {
        margin-left: 0;
      }
      }
    }
}