@use "variables";
@use "mixins";

.pagination {
  padding-top: 1rem;
  padding-bottom: 3rem;
  @include mixins.arrows(variables.$white, -0.33rem, 3px);
  &.black {
    @include mixins.arrows(variables.$black, -0.33rem, 3px);
  }
  font-weight: 300;
  .next-page {
    float: right;
  }
  a {
    font-size: 0.9rem;
    color: variables.$white;
    .black {
      color: variables.$black;
    }
    transition: width 1s, margin-left 1s, margin-right 1s;
    .arrow {
      transition: inherit;
      display: inline-block;
      width: 24px;
    }
    &:hover,
    &:focus-visible,
    &:visited {
      color: variables.$white;
      .black {
        color: variables.$black;
      }
      .arrow {
        width: 32px;
      }
    }
    &.previous-page:hover,
    &.previous-page:focus-visible {
      .arrow {
        margin-left: -8px;
      }
    }
    &.next-page:hover,
    &.next-page:focus-visible {
      margin-right: -8px;
    }
  }
}

@media screen and (max-width: variables.$desktop) {
  .pagination {
    a {
      &.next-page {
        margin-right: 0.8rem;
        &:hover,
        &:focus-visible {
          margin-right: 8px;
        }
      }
      &.previous-page {
        margin-left: 0.8rem;
      }
    }
  }
}
