// @import '../../node_modules/swiper/dist/css/swiper.css';
@import 'variables';

@mixin swiper($arrowColor: $grey){
  .stack-swiper {
    position: relative;
    margin: 0 auto;
    padding: 0 3rem 3rem;
    .arrow {
      @include arrows($arrowColor, 0);
      width: 24px;
      padding-bottom: 3rem;
      transition: width 1s ease-in-out, right 1s ease-in-out, left 1s ease-in-out;
      &:hover {
        width: 32px;
      }
      &.swiper-next {
        right: 12px;
        &:hover {
          right: 4px;
        }
      }
      &.swiper-prev {
        left: 12px;
        &:hover {
          left: 4px;
        }
      }
      &.swiper-next, &.swiper-prev {
        position: absolute;
        display: flex;
        top: 0;
        height: 100%;
        align-items: center;
        cursor: pointer;
        z-index: 1;
      }
    }

    .swiper-container {

      .swiper-slide {
        height: 6rem;
        width: 6rem;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;

        img {
          max-width: 90%;
          object-fit: contain;
          padding: 1rem;
          filter: grayscale(1);
          &:hover {
            filter: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

section#stack, section#stack_fav {
  width:100%;
  background: $darkgrey;
  h1 {
    color: $white;
  }
  @include swiper($lightgrey);
  .stack-swiper {
    .swiper-container {

      .swiper-slide {
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 4rem;
          height: 4rem;
          flex: 1;
        }
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 5rem;
          height: 5rem;
          padding: 0.5rem;
          background: $white;
          border-radius: 50%;
        }
      }
    }

    width: calc(6 * 8rem + 64px);

    @media screen and (max-width: $smalldesktop) {
      width: calc(4 * 8rem + 62px);
      margin: 0 auto;
    }
    @media screen and (max-width: $tablet) {
      width: calc(3 * 8rem + 60px);
      margin: 0 auto;
    }
    @media screen and (max-width: $phone) {
      width: calc(2 * 8rem + 62px);
      margin: 0 auto;
    }
    @media screen and (max-width: $smallphone) {
      width: calc(8rem + 64px);
      margin: 0 auto;
    }
  }

}

section#customers{
  background: $white;
  h1{
    background-color: $black;
    color: $white;
  }

  @include swiper();
  .stack-swiper {
    padding-bottom: 0;
    margin: 0 2rem;
    .arrow{
      padding-top: 3rem;
    }
    .swiper-container{
      .swiper-slide {
        padding: 3rem 0;
        border-left: 0.5px solid $lightgrey;
        img{
          max-height: 9rem;
        }
        @media screen and (max-width: $tablet) {
          border: 0;
        }
        img {
          position: inherit;
        }
      }
      @media screen and (max-width: $tablet) {
        border-left: 0.5px solid $lightgrey;
        border-right: 0.5px solid $lightgrey;
      }
    }
  }
}