:root {
  --black: #000;
  --darkgrey: #313131;
  --grey: #959595;
  --lightgrey: #efefef;
  --white: #fff;
  --greywhite: #f0f0f0;
  --bloggrey: #323232;

  --lightblue: #3bcce5;
  --darkblue: #409ad6;
  --darkerblue: #46506d;
  --avatarLightBlue: #3ccde6;
  --avatarDarkBlue: #419bd7;
  // --lightblue: #e39b36;
  // --darkblue: #db713b;
  // --darkerblue: #b85b2d;
  // --avatarLightBlue: #e39b36;
  // --avatarDarkBlue: #db713b;

  --sandyBrown: #fa9f42;
  --darkSandyBrown: #d68b2f;

  --nyanza: #d6f6dd;
  --darkNyanza: #3ccf6e;

  --periwinki: #dac4f7;
  --darkPeriwinki: #6d3ccf;

  --tablet: 768px;
  --smalldesktop: 1024px;
  --desktop: 1200px;
  --phone: 512px;
  --smallphone: 320px;

  --gradient: linear-gradient(60deg, var(--lightblue) 0%, var(--darkblue) 100%);
  --darkGradient: linear-gradient(
    60deg,
    var(--darkblue) 0%,
    var(--darkerblue) 100%
  );
  --avatarGradient: linear-gradient(
    90deg,
    var(--avatarLightBlue) 0%,
    var(--avatarDarkBlue) 100%
  );
}

$black: #000;
$darkgrey: #313131;
$grey: #959595;
$lightgrey: #efefef;
$white: #fff;
$greywhite: #f0f0f0;
$bloggrey: #323232;

$lightblue: #3bcce5;
$darkblue: #409ad6;
$darkerblue: #46506d;
$avatarLightBlue: #3ccde6;
$avatarDarkBlue: #419bd7;

// halloween
// $lightblue: #e39b36;
// $darkblue: #db713b;
// $darkerblue: #b85b2d;
// $avatarLightBlue: #e39b36;
// $avatarDarkBlue: #db713b;

$sandyBrown: #fa9f42;
$darkSandyBrown: #d68b2f;

$nyanza: #d6f6dd;
$darkNyanza: #3ccf6e;

$periwinki: #dac4f7;
$darkPeriwinki: #6d3ccf;

$tablet: 768px;
$smalldesktop: 1024px;
$desktop: 1200px;
$phone: 512px;
$smallphone: 320px;

$gradient: linear-gradient(60deg, $lightblue 0%, $darkblue 100%);
$darkGradient: linear-gradient(60deg, $darkblue 0%, $darkerblue 100%);
$avatarGradient: linear-gradient(
  90deg,
  $avatarLightBlue 0%,
  $avatarDarkBlue 100%
);
