
section#casting {
  background: var(--white);
  padding-bottom: 5rem;

  a.btn {
    border-color: var(--bloggrey);
    color: var(--bloggrey);
    &:hover {
      border-color: var(--lightblue);
      color: var(--white);
    }
  }

  .wrapper {
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;

    .casting-img-container {
      @media (width < var(--tablet)) {
        display: none;
      }

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: minmax(200px, auto);
      gap: 20px;

      .photo {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        border: 3px solid transparent;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        transition: border-color 0.3s ease, transform 0.3s ease;
    
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(60deg, var(--darkblue) 0%, var(--darkerblue) 100%);
          opacity: 0.4;
          transition: opacity 0.3s ease;
        }
    
        &:hover::before {
          opacity: 0;
        }
    
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;
        }
    
        &:hover {
          transform: scale(1.05);
          border-color: var(--lightblue);
        }
      }
    }

    > p {
      letter-spacing: initial;
    }
    p {
      color: var(--grey);
      text-align: center;
      line-height: 1.5rem;
    }

    a {
      text-decoration: underline;
      color: var(--black);
    }

  }
}
