
section#contact {
  background: var(--gradient);
  color: var(--white);
  padding-bottom: 5rem;

  & > div {
    display: flex;

    & > div {
      flex: 1;
      background: var(--white);
      color: var(--black);
    }
    & > div:first-child {
      max-height: 550px;
    }
    & > div:last-child {
      padding: 5rem;

      p {
        line-height: 1.5rem;
      }

      strong {
        font-weight: bold;
      }

      a {
        color: var(--black);
        &:hover {
          color: var(--lightblue);
        }
      }
      
      a.button {
        display: inline-block;
        width: auto;
        background: var(--darkGradient);
        color: var(--white);
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

@media (width < var(--tablet)) {
  section#contact {
    letter-spacing: initial;
    & > div {
      flex-direction: column;
      & > div:first-child {
        img {
          height: auto;
        }
      }
      & > div:last-child {
        padding: 2rem;
      }
    }
  }
}
