
section#text{
  --separator-color: black;
  background: var(--white);
  width: 1200px;
  margin: 0 auto;

  address{
    white-space: pre-wrap;
  }


  p, address, a{
    color: var(--darkgrey);
  }

  @media (width < var(--desktop)) {
    width: 90%;
    letter-spacing: initial;
  }
}

