.share{
  border-radius: 0.5rem;
  border: 2px solid var(--lightgrey);
  padding: 0.8rem;
  clear:both;
  font-size: 0.8rem;
  > span {
    color: var(--grey);
  }
  > ul {
    float: right;
    margin: 0;
    li {
      display: inline-block;
      font-size: 1rem;
      padding: 0 0.8rem;
      &:hover {
        color: var(--darkblue);
        a{
          color: inherit;
          &:hover{
            color: var(--darkblue) !important;
          }
        }
      }
    }
  }
}