{{ $baseurl := .Site.BaseURL }}

<div class="blog-snippet-container">
  <div class="blog-snippet">
    {{ with .Resources.GetMatch .Params.cover }}
      {{ $img336 := .Fill "336x200 Center webp q80" }}
      {{ $img200 := .Fill "200x119 Center webp q80" }}
      <div class="img-container">
        {{ if $.Truncated }}
        <a href="{{ $.Permalink }}" aria-hidden="true" tabindex="-1">
          <img src="{{ $img336.RelPermalink }}" srcset="{{ $img200.RelPermalink }} 200w, {{ $img336.RelPermalink }} 336w" sizes="(max-width: 768px) 200px, 336px" width="{{ $img336.Width }}" height="{{ $img336.Height }}" alt="Illustration de {{ $.Title }}" loading="lazy">
        </a>
        {{ else }}
        <img src="{{ $img336.RelPermalink }}" srcset="{{ $img200.RelPermalink }} 200w, {{ $img336.RelPermalink }} 336w" sizes="(max-width: 768px) 200px, 336px" width="{{ $img336.Width }}" height="{{ $img336.Height }}" alt="Illustration de {{ $.Title }}" loading="lazy">
        {{ end }}
      </div>
    {{ end }}
    <div>
      <h2>
        {{ if .Truncated }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ else }} {{ .Title }} {{ end }}
      </h2>
      <ul class="tags">
        {{ range $index, $tag := .Params.tags }}
        <li>
          <a href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a>
        </li>
        {{ end }}
      </ul>
      <p>{{ .Summary | plainify | truncate 100 }}</p>
      {{ if .Truncated }}
      <a
        aria-label="En savoir plus sur {{ .Title }}"
        class="read-more"
        href="{{ .Permalink }}"
        >En savoir plus {{ partial "arrow_right.html" . }}
      </a>
      {{ end }}
    </div>
  </div>
</div>
