{{ $baseurl := .Site.BaseURL }}

<div>
  {{ if .Truncated }}
  <a aria-label="En savoir plus sur {{ .Title }}" href="{{ .Permalink }}">
  {{ end }}
    <div class="img-container" style="background-image: url('/blog/{{ .Params.cover }}')"></div>
  {{ if .Truncated }}
  </a>
  {{ end }}
  <div>
    <h2>
      {{ if .Truncated }}
      <a aria-label="En savoir plus sur {{ .Title }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ else }}
      {{ .Title }}
      {{ end }}
    </h2>
    <ul class="tags">
      {{ range $index, $tag := .Params.tags }}
      <li><a aria-label="Tag {{ $tag }}" href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a></li>
      {{ end }}
    </ul>
    <p>{{ .Summary | truncate 100 }}</p>
    {{ if .Truncated }}
    <a aria-label="Voir tous les articles" class="read-more" href="{{ .Permalink }}">En savoir plus
      {{ partial "arrow_right.html" . }}
    </a>
    {{ end }}
  </div>
</div>