{{ define "main" }}

<section id="blog">
    <div class="wrapper">
        <h1>
            Blog
        </h1>
    </div>

    <section id="article">
        <div class="wrapper">
            <article>
                {{ with .Resources.GetMatch .Params.cover }}
                    {{ with .Fill "900x500 Center webp q100" }}
                        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Illustration de l'article {{ $.Title }}">
                    {{ end }}
                {{ end }}
                <div class="wrapper-content">
                    <h2>{{ .Title }}</h2>
                    {{if .Params.tags }}
                    <ul class="tags">
                        {{ range $index, $tag := .Params.tags }}
                        <li><a href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    <div class="content">
                        {{ .Content }}
                    </div>
                    <div class="content-footer">
                        {{if .Params.tags }}
                        <ul class="tags float">
                            {{ range $index, $tag := .Params.tags }}
                            <li><a href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a></li>
                            {{ end }}
                        </ul>
                        {{ end }}
                        <div id="author">
                            <p class="date">Rédigé par <span class="author-name">{{ .Params.author}}</span></p>
                        </div>
                    </div>
                    <div class="share">
                        <span>Partager</span>
                        <ul class="socials">
                            <li>
                                <a target="_blank" rel="nofollow noopener"
                                    aria-label="Partager sur Facebook (nouvelle fenêtre)"
                                    href="https://www.facebook.com/sharer.php?u=http://code-troopers.com{{ .Permalink }}&t={{ .Title }}"
                                    class="facebook-button"
                                    onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
                                    {{ partial "svg" "facebook-fill" }}
                                </a>
                            </li>
                            <li>
                                <a target="_blank" rel="nofollow noopener"
                                    aria-label="Partager sur X (nouvelle fenêtre)"
                                    href="https://twitter.com/share?url=http://code-troopers.com{{ .Permalink }}&text={{ .Title }}&via=codetroopers"
                                    onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">
                                    {{ partial "svg" "twitter-x-fill" }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>


                    <div class="back">
                        <div class="pagination black">
                            {{ if .NextInSection }}
                            <a href="{{ .NextInSection.Permalink }}" class="previous-page" aria-label="Article précédent : {{ .NextInSection.Title }}">
                                <span class="arrow">{{ partial "arrow_left.html" . }}</span>
                                Article précédent
                            </a>
                            {{ end }}
                            {{ if .PrevInSection }}
                            <a href="{{ .PrevInSection.Permalink }}" class="next-page" aria-label="Article suivant : {{ .PrevInSection.Title }}">
                                Article suivant
                                <span class="arrow">{{ partial "arrow_right.html" . }}</span>
                            </a>
                            {{ end }}
                        </div>
                    </div>

                    <nav id="menu" aria-label="Taxonomies">
                        <ul>
                            {{ range $key, $taxonomy := .Site.Taxonomies.featured }}
                            <li>{{ $key }}
                                <ul>
                                    {{ range $taxonomy.Pages }}
                                    <li data-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></li>
                                    {{ end }}
                                </ul>
                            </li>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </article>
        </div>
    </section>
</section>
{{ end }}