{{ partial "header.html" . }}
{{ partial "nav.html" . }}


<section id="numbers">
    <ul class="flex">
        <li>
            <div>4</div>
            <div>Années d'expérience</div>
        </li>
        <li>
            <div>30</div>
            <div>Projets menés avec satisfaction</div>
        </li>
        <li>
            <div>7</div>
            <div>Collaborateurs</div>
        </li>
        <li>
            <div>50</div>
            <div>Tasses de café quotidiennes</div>
        </li>
        <li>
            <div>100</div>
            <div>Brainstormings annuels</div>
        </li>
    </ul>
</section>

<section id="skills">
    <div class="wrapper">
        <h1>Compétences</h1>
        <ul class="flex">
            <li>
                <img src="img/skill_conception.png" alt="logo conception"/>
                <div class="title">
                    Conception & Analyse
                </div>
                <div>
                    Nous vous accompagnons et vous apportons des solutions innovantes.
                </div>
            </li>
            <li>
                <img src="img/skill_dev.png" alt="logo dev"/>
                <div class="title">
                    Développement d’application
                </div>
                <div>
                    Nous réalisons des développements logiciels et mobiles sur-mesure.
                </div>
            </li>
            <li>
                <img src="img/skill_design.png" alt="logo design"/>
                <div class="title">
                    Design d’interface
                </div>
                <div>
                    Sensibles à vos besoins esthétiques, les Troopers réalisent des interfaces graphiques, ainsi que des
                    applications créatives.
                </div>
            </li>
            <li>
                <img src="img/skill_maintenance.png" alt="logo maintenance"/>
                <div class="title">
                    Maintenance & Suivi
                </div>
                <div>
                    Nous sommes présents tout au long des étapes de vos projets online. Les Troopers sont expérimentés
                    et travaillent en équipe : ici le dialogue-client n’est jamais interrompu.
                </div>
            </li>
        </ul>
    </div>
</section>

<section id="portfolio">
    <h1>Réalisations</h1>

    <div class="wrapper">
        <div>
            <img src="img/portfolio/nowly.jpg">
            <div>
                <h2>Nowly</h2>
                <ul class="skill">
                    <li class="android"><span>Android</span></li>
                </ul>
                <p>Conversion de l'application iPhone existante vers une application native Android. Nowly vous permet
                    de
                    savoir qui est disponible à proximité.</p>
                <a href="/nowly.html">En savoir plus</a>
            </div>
        </div>
        <div>
            <img src="img/portfolio/fizzer.jpg">
            <div>
                <h2>Fizzer</h2>
                <ul class="skill">
                    <li class="android"><span>Android</span></li>
                    <li class="web"><span>Web</span></li>
                </ul>
                <p>Application Android d'envoie de carte postale personnalisée directement depuis votre smartphone.
                    Prenez
                    des photos, réalisez votre collage et envoyez votre carte postale.</p>
                <a href="/fizzer.html">En savoir plus</a>
            </div>
        </div>
        <div>
            <img src="img/portfolio/toosla.jpg">
            <div>
                <h2>Toosla</h2>
                <ul class="skill">
                    <li class="android"><span>Android</span></li>
                    <li class="web"><span>Web</span></li>
                </ul>
                <p>Application Android de location de voiture. Avec Toosla plus besoin de guichet ni ce clé ! Tout se
                    passe
                    avec votre mobile. L'application se connecte en Bluetooth avec la voiture et vous en donne le
                    contrôle.</p>
                <a href="/toosla.html">En savoir plus</a>
            </div>
        </div>
        <div>
            <img src="img/portfolio/navigtours.jpg">
            <div>
                <h2>Navig'Tours</h2>
                <ul class="skill">
                    <li class="android"><span>Android</span></li>
                    <li class="ios"><span>iOS</span></li>
                    <li class="web"><span>Web</span></li>
                </ul>
                <p>Les applications gratuites natives Android et iOS. Navig'Tours permet de consulter les horaires,
                    lignes
                    et arrêts des bus et tram de Tours (réseau Fil Bleu).</p>
                <a href="/navigtours.html">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="wrapper-center">
        <a href="/portfolio" class="btn">Toutes nos réalisations</a>
    </div>
</section>

{{ partial "footer.html" . }}
