{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<section id="numbers">
    <ul>
        <li>
            <div>4</div>
            <div>Années d'expérience</div>
        </li>
        <li>
            <div>30</div>
            <div>Projets menés avec satisfaction</div>
        </li>
        <li>
            <div>7</div>
            <div>Collaborateurs</div>
        </li>
        <li>
            <div>50</div>
            <div>Tasses de café quotidiennes</div>
        </li>
        <li>
            <div>100</div>
            <div>Brainstormings annuels</div>
        </li>
    </ul>
</section>

<section id="skills">
    <div class="wrapper">
        <h1>Compétences</h1>
        <ul>
            <li>
                <img src="img/skill_conception.png" alt="logo conception"/>
                <div class="title">
                    Conception & Analyse
                </div>
                <div>
                    Nous vous accompagnons et vous apportons des solutions innovantes.
                </div>
            </li>
            <li>
                <img src="img/skill_dev.png" alt="logo dev"/>
                <div class="title">
                    Développement d’application
                </div>
                <div>
                    Nous réalisons des développements logiciels et mobiles sur-mesure.
                </div>
            </li>
            <li>
                <img src="img/skill_design.png" alt="logo design"/>
                <div class="title">
                    Design d’interface
                </div>
                <div>
                    Sensibles à vos besoins esthétiques, les Troopers réalisent des interfaces graphiques, ainsi que des
                    applications créatives.
                </div>
            </li>
            <li>
                <img src="img/skill_maintenance.png" alt="logo maintenance"/>
                <div class="title">
                    Maintenance & Suivi
                </div>
                <div>
                    Nous sommes présents tout au long des étapes de vos projets online. Les Troopers sont expérimentés
                    et travaillent en équipe : ici le dialogue-client n’est jamais interrompu.
                </div>
            </li>
        </ul>
    </div>
</section>

<section id="portfolio">
    <h1>Réalisations</h1>
</section>
{{ partial "footer.html" . }}
