{{ partial "nav.html" . }}

<section id="company">
    <img class="logo" src="/img/header_logo.png">
<!--<div class="logo" title="Logo Code-Troopers"></div>-->
<div class="introduction">
    <div>
        <h2>L'Agence</h2>
        <p>Fondée en 2014 à Tours, Code-Troopers est installée au sein de la bouillonnante Cité de la création et du
            numérique MAME.</p>
        <a href="#contact">Nous situer</a>
    </div>
    <div>
        <p class="gradient">Nous sommes une agence spécialisée dans le développement logiciel et la conception
            d’applications mobiles
            sur-mesure.</p>
        <p>Analyse pour de grands groupes, développement natif multisupport pour des start-ups innovantes… Les sept
            membres de notre structure s’engagent dans des suivis complets, rigoureux, au plus près des différentes
            phases de vos projets informatiques.
        </p>
    </div>
</div>
</section>


<section id="numbers">
    <ul class="flex">
        <li>
            <div>4</div>
            <div>Années d'expérience</div>
        </li>
        <li>
            <div>30</div>
            <div>Projets menés avec satisfaction</div>
        </li>
        <li>
            <div>9</div>
            <div>Collaborateurs</div>
        </li>
        <li>
            <div>50</div>
            <div>Tasses de café quotidiennes</div>
        </li>
        <li>
            <div>100</div>
            <div>Brainstormings annuels</div>
        </li>
    </ul>
</section>

<section id="skills">
    <div class="wrapper">
        <h1>Compétences</h1>
        <ul class="flex">
            <li>
                <img src="img/skill_conception.png" alt="logo conception"/>
                <div class="title">
                    Conception & Analyse
                </div>
                <div>
                    Nous vous accompagnons et vous apportons des solutions innovantes.
                </div>
            </li>
            <li>
                <img src="img/skill_dev.png" alt="logo dev"/>
                <div class="title">
                    Développement d’application
                </div>
                <div>
                    Nous réalisons des développements logiciels et mobiles sur-mesure.
                </div>
            </li>
            <li>
                <img src="img/skill_design.png" alt="logo design"/>
                <div class="title">
                    Design d’interface
                </div>
                <div>
                    Sensibles à vos besoins esthétiques, les Troopers réalisent des interfaces graphiques, ainsi que des
                    applications créatives.
                </div>
            </li>
            <li>
                <img src="img/skill_maintenance.png" alt="logo maintenance"/>
                <div class="title">
                    Maintenance & Suivi
                </div>
                <div>
                    Nous sommes présents tout au long des étapes de vos projets online. Les Troopers sont expérimentés
                    et travaillent en équipe : ici le dialogue-client n’est jamais interrompu.
                </div>
            </li>
        </ul>
    </div>
</section>

<section id="portfolio">
    <h1>Réalisations</h1>

    <div class="wrapper">
        {{ range first 4 (where .Site.Pages "Section" "work") }}
        {{ .Render "li" }}
        {{ end }}
    </div>
    <div class="wrapper-center">
        <a href="/work" class="btn">Toutes nos réalisations</a>
    </div>
</section>

<section id="stack">
    <h1>Nous aimons travailler avec...</h1>
    <div class="stack-swiper">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="/images/skills/android.png"></div>
            <div class="swiper-slide"><img src="/images/skills/androidbootstrap.png"></div>
            <div class="swiper-slide"><img src="/images/skills/angularjs.png"></div>
            <div class="swiper-slide"><img src="/images/skills/arquillian.png"></div>
            <div class="swiper-slide"><img src="/images/skills/butterknife.png"></div>
            <div class="swiper-slide"><img src="/images/skills/dagger.png"></div>
            <div class="swiper-slide"><img src="/images/skills/docker.png"></div>
            <div class="swiper-slide"><img src="/images/skills/elasticsearch.png"></div>
            <div class="swiper-slide"><img src="/images/skills/git.png"></div>
            <div class="swiper-slide"><img src="/images/skills/glassfish.png"></div>
            <div class="swiper-slide"><img src="/images/skills/groovy.png"></div>
            <div class="swiper-slide"><img src="/images/skills/hibernate.jpg"></div>
            <div class="swiper-slide"><img src="/images/skills/hibernate.png"></div>
            <div class="swiper-slide"><img src="/images/skills/html-css.png"></div>
            <div class="swiper-slide"><img src="/images/skills/java.png"></div>
            <div class="swiper-slide"><img src="/images/skills/javascript.png"></div>
            <div class="swiper-slide"><img src="/images/skills/less.png"></div>
            <div class="swiper-slide"><img src="/images/skills/liquibase.png"></div>
            <div class="swiper-slide"><img src="/images/skills/maven.png"></div>
            <div class="swiper-slide"><img src="/images/skills/mongodb.png"></div>
            <div class="swiper-slide"><img src="/images/skills/neo4j.jpeg"></div>
            <div class="swiper-slide"><img src="/images/skills/otto.png"></div>
            <div class="swiper-slide"><img src="/images/skills/picasso.png"></div>
            <div class="swiper-slide"><img src="/images/skills/play2.png"></div>
            <div class="swiper-slide"><img src="/images/skills/querydsl.png"></div>
            <div class="swiper-slide"><img src="/images/skills/redis.png"></div>
            <div class="swiper-slide"><img src="/images/skills/restx.png"></div>
            <div class="swiper-slide"><img src="/images/skills/retrofit.png"></div>
            <div class="swiper-slide"><img src="/images/skills/scala.png"></div>
            <div class="swiper-slide"><img src="/images/skills/selenium.png"></div>
            <div class="swiper-slide"><img src="/images/skills/spring-boot.png"></div>
            <div class="swiper-slide"><img src="/images/skills/trac.png"></div>
            <div class="swiper-slide"><img src="/images/skills/twitterbootstrap.png"></div>
            <div class="swiper-slide"><img src="/images/skills/wicket.png"></div>
        </div>

    </div>
    <!-- If we need navigation buttons -->
    <div class="arrow swiper-prev">{{ partial "arrow_left.html" . }}</div>
    <div class="arrow swiper-next">{{ partial "arrow_right.html" . }}</div>
    </div>
</section>

<section id="customers">
    <h1>Nos références</h1>
    <div class="stack-swiper">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->

            <div class="swiper-slide"><img src="/images/projects/aucard-logo.png"/></div>
            <div class="swiper-slide"><img src="/images/projects/betterpickers-logo.png"/></div>
            <div class="swiper-slide"><img src="/images/projects/fizzer-logo.png"/></div>
            <div class="swiper-slide"><img src="/images/projects/navigtours-logo.png"/></div>
            <div class="swiper-slide"><img src="/images/projects/nowly-logo.png"/></div>
            <div class="swiper-slide"><img src="/images/projects/sammygo-logo.png"/></div>
            <div class="swiper-slide"><img src="/images/projects/srmvision-logo.png"/></div>
            <div class="swiper-slide"><img src="/images/projects/terresduson-logo.png"/></div>
            <div class="swiper-slide"><img src="/images/projects/toosla-logo.png"/></div>

        </div>

    </div>
    <!-- If we need navigation buttons -->
    <div class="arrow swiper-prev">{{ partial "arrow_left.html" . }}</div>
    <div class="arrow swiper-next">{{ partial "arrow_right.html" . }}</div>
    </div>
</section>


<section id="blogs">
    <h1>Blog</h1>

    <div class="wrapper">

        <section id="articles">
            <div class="wrapper">
                {{ range first 3 (where .Site.Pages "Section" "blog") }}
                {{ .Render "li" }}
                {{ end }}
            </div>
        </section>
    </div>
    <div class="wrapper-center">
        <a href="/blog" class="btn">Tous nos articles</a>
    </div>
</section>

<section id="casting">
    <h1>Casting</h1>
    <div class="wrapper">
        <p>Pratiques agiles, solutions ergonomiques, actions de R&amp;D d'envergure… Notre escouade est réactive, ses
            méthodes fiables, fortes de solides fondements techniques pour mener des projets complexes, avec une
            expérience reconnue pour Java. L'équipe des Troopers se complète et peut, à l’envie, se substituer,
            garantissant ainsi un dialogue-client ininterrompu.</p>
        <p>Organisation du <a href="https://www.meetup.com/fr-FR/GDG-Tours">Google Developer Group</a>,
            hébergement d’un <a href="http://opendevicelab.code-troopers.com">Open Device Lab</a>,
            participation au Startup Weekend Tours ainsi qu’au Hackathon Citoyen…
            Impliqué dans la scène developpement locale, Code-Troopers participe régulièrement aux projets numériques du
            bassin tourangeau et au-delà.
        </p>
        <ul class="flex casting">
            <li>
                <div><img src="/img/casting/CG_BW.jpg" alt="Cedric Gatay"></div>
                <h2>Cedric Gatay</h2>
                <ul class="socials">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Très impliqué dans la qualité du code, son périmètre d'action s'étend de la mise en place
                    d'architectures à l'optimisation du processus de mise en production. Convaincu de la puissance de
                    l'Open Source, il participe autant que possible aux projets qu'il utilise et conseille.</p>
            </li>
            <li>
                <div><img src="/img/casting/RL_BW.jpg" alt="Romain Lucas"></div>
                <h2>Romain Lucas</h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Soucieux de la qualité du code et du résultat, Romain est très impliqué dans les développements.
                    Toujours à l'écoute des besoins clients, il les synthétise de manière à offrir un produit
                    correspondant à leurs attentes.</p>
            </li>
            <li>
                <div><img src="/img/casting/BC_BW.jpg" alt="Benjamin Cousin"></div>
                <h2>Benjamin Cousin</h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Passionné de musique, d'informatique et de design, Benjamin aime tout ce qui touche à l'expérience
                    utilisateur (UX) et aux interfaces (UI). Il en a fait sa spécialité au sein de l'équipe en alliant
                    ses connaissances en développement avec celles en webdesign.</p>
            </li>
            <li>
                <div><img src="/img/casting/JP_BW.jpg" alt="Joris Potier"></div>
                <h2>Joris Potier</h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Joris accorde une importance particulière au code simple, propre et efficace. De nature curieuse, il
                    essaie de favoriser la polyvalence afin de répondre au mieux aux besoins des clients et aime se
                    challenger pour élargir ses connaissances.</p>
            </li>
            <li>
                <div><img src="/img/casting/FC_BW.jpg" alt="Florian Chauveau"></div>
                <h2>Florian Chauveau</h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Très attaché aux pratiques agiles, Florian n'hésite pas à remettre en cause les processus pour
                    trouver les meilleurs moyens de fonctionner en équipe. Formé très tôt au TDD, il s'attache à ce que
                    le code reste le plus clair possible et veille à ce que les compétences soient toujours le mieux
                    partagées.</p>
            </li>
            <li>
                <div><img src="/img/casting/MB_BW.jpg" alt="Matthieu Bollot"></div>
                <h2>Matthieu Bollot</h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Matthieu aime la simplicité et l'optimisation, amateur de l'administration système, il pense qu'un
                    shell et vim sont les outils primaires pour travailler. Ainsi qu'un clavier en bépo, qui court
                    beaucoup plus vite qu'en azerty !</p>
            </li>
            <li>
                <div><img src="/img/casting/VM_BW.jpg" alt="Vincent Maubert"></div>
                <h2>Vincent Maubert</h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Vincent aime les applications très réactives. Dès qu'il voit une page lente, il fait des recherches
                    pour l'optimiser et fait part de ses résultats à l'équipe pour éviter d'avoir le même problème à
                    l'avenir.</p>
            </li>
            <li>
                <div><img src="/img/casting/TM_BW.png" alt="Thibaud Maillard"></div>
                <h2>Thibaud Maillard</h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Thibaud aime des choses.</p>
            </li>
            <li>
                <div><img src="/img/casting/NDM_BW.jpg" alt="Nicolas Dauphin-Moulin"></div>
                <h2>Nicolas Dauphin-Moulin</h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Nicolas adore se déguiser en Wolfi.</p>
            </li>
        </ul>
    </div>
</section>

{{ partial "footer.html" . }}
