
<section id="contact">
    <h1>Contact</h1>


    <div>
        <div><iframe class="lozad"
                    width="100%"
                    height="auto"
                    frameborder="0" style="border:0"
                    data-src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDmneK7ppr9MWdY2ynnTXsnhEloW2r7GzQ&q=Code-Troopers,+37000+Tours+France&zoom=15">
            </iframe></div>
        <div>
            <h2>Code-Troopers</h2>
            <p>
                <strong>MAME</strong><br>
                Cité de la création et du numérique<br>
                49 boulevard Preuilly<br>
                37 000 Tours - Fr
            </p>
            <a href="tel:+330782287216">0782 287 216</a>
        </div>
    </div>

    <h1>Suivez nos actualités</h1>

    <ul class="flex">
        <li>
            <a href="https://facebook.com/codetroopers37">
                <i class="fa fa-facebook fa-3x fa-fw"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/codetroopers">
                <i class="fa fa-twitter fa-3x fa-fw"></i>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/+Code-troopers">
                <i class="fa fa-google-plus fa-3x fa-fw"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/code-troopers">
                <i class="fa fa-github fa-3x fa-fw"></i>
            </a>
        </li>
        <li>
            <a href="/index.xml">
                <i class="fa fa-rss fa-3x fa-fw"></i>
            </a>
        </li>
    </ul>
</section>

<footer>
    <div class="wrapper">
        <a href="#top" class="scroll-to-top">
            <img class="arrow" src="/img/arrow.png" alt="arrow">
        </a>
        <img src="/img/footer_logo.png" alt="logo">
        <div>
            <span>©2014 — {{ now.Year }} Code-Troopers | <a href="/legals.html">Mentions légales</a></span>
            <span>Design : <a href="https://www.descheval.com/">descheval.com</a> | Développement : Code-Troopers</span>
        </div>
    </div>
</footer>
<script src="/main.js"></script>
{{ if eq .Page.Type "blog" }}
<script src="/blog.js"></script>
{{ end }}
</body>
</html>
