
<section id="contact">
    <h1>Contact</h1>


    <div>
        <div>
            <img src="/img/map.jpg" alt="Map">
        </div>
        <div>
            <h2>Code-Troopers</h2>
            <p>
                <strong>MAME</strong><br>
                Cité de la création et du numérique<br>
                49 boulevard Preuilly<br>
                37 000 Tours - Fr
            </p>
            <a href="tel:+330782287216">0782 287 216</a>
        </div>
    </div>

    <h1>Suivez nos actualités</h1>

    <ul class="flex">
        <li>
            <a href="https://facebook.com/codetroopers">
                <i class="fa fa-facebook">&nbsp;</i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/codetroopers">
                <i class="fa fa-twitter">&nbsp;</i>
            </a>
        </li>
        <li>
            <a href="https://gplus.com/codetroopers">
                <i class="fa fa-google-plus">&nbsp;</i>
            </a>
        </li>
        <li>
            <a href="https://github.com/codetroopers">
                <i class="fa fa-github">&nbsp;</i>
            </a>
        </li>
        <li>
            <a href="https://rss.com/codetroopers">
                <i class="fa fa-rss">&nbsp;</i>
            </a>
        </li>
    </ul>
</section>

<footer>
    <div class="wrapper">
        <a href="#top">
            <img class="arrow" src="/img/arrow.png" alt="arrow">
        </a>
        <img src="/img/footer_logo.png" alt="logo">
        <div>
            <span>©2014 — 2018 Code-Troopers | <a href="/mentions.html">Mentions légales</a></span>
            <span>Design : <a href="https://www.descheval.com/">descheval.com</a> | Développement : Code-Troopers</span>
        </div>
    </div>
</footer>
<!--<link rel=“stylesheet” href=“//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css”>-->
<script src="/main.js"></script>
</body>
</html>
