
<section id="contact">
    <h1>Contact</h1>


    <div>
        <div>
            <img src="img/map.jpg" alt="Map">
        </div>
        <div>
            <h2>Code-Troopers</h2>
            <p>
                <strong>MAME</strong><br>
                Cité de la création et du numérique<br>
                49 boulevard Preuilly<br>
                37 000 Tours - Fr
            </p>
            <a href="phoneto:+336060606060">06 06 06 06 06</a>
        </div>
    </div>

    <h1>Suivez nos actualités</h1>

    <ul class="flex">
        <li>
            <a href="https://facebook.com/codetroopers">
                <img src="img/social_fb.png" alt="facebook">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/codetroopers">
                <img src="img/social_tw.png" alt="twitter">
            </a>
        </li>
        <li>
            <a href="https://gplus.com/codetroopers">
                <img src="img/social_gplus.png" alt="google plus">
            </a>
        </li>
        <li>
            <a href="https://github.com/codetroopers">
                <img src="img/social_github.png" alt="github">
            </a>
        </li>
        <li>
            <a href="https://rss.com/codetroopers">
                <img src="img/social_rss.png" alt="rss">
            </a>
        </li>
    </ul>
</section>

<footer>
    <div class="wrapper">
        <a href="#top">
            <img class="arrow" src="img/arrow.png" alt="arrow">
        </a>
        <img src="img/footer_logo.png" alt="logo">
        <div>
            <span>©2017 Code-Troopers | <a href="/mentions.html">Mentions légales</a></span>
            <span>Design : <a href="https://www.descheval.com/">descheval.com</a> | Développement : Code-Troopers</span>
        </div>
    </div>
</footer>
<script src="/main.js"></script>
</body>
