<!doctype html>
<html class="no-js" lang="fr-fr" itemscope itemtype="http://schema.org/Organization">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NWLQD2');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Code-Troopers</title>
  <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width" />

  <meta property="og:title" content=" Code-Troopers" />
  <meta property="og:site_name" content="Code-Troopers" />
  <meta property="og:url" content="https://code-troopers.com/" />
  <meta property="og:image" content="https://code-troopers.com/images/banner/logo-banner.png"/>


  <meta property="og:type" content="website" />


  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@codetroopers" />
  <meta name="twitter:creator" content="@codetroopers" />
  <meta name="twitter:title" content="Code-Troopers" />
  <meta name="twitter:url" content="https://code-troopers.com/" />


  <meta name="twitter:description" content="Code-Troopers est une agence spécialisée dans le développement logiciel et la conception d’applications mobiles sur-mesure." />
  <meta name="twitter:image" content="https://code-troopers.com/images/banner/logo-banner.png"/>
  <meta name="description" content="Code-Troopers est une agence spécialisée dans le développement logiciel et la conception d’applications mobiles sur-mesure." />
  <meta property="og:description" content="Code-Troopers est une agence spécialisée dans le développement logiciel et la conception d’applications mobiles sur-mesure."/>


  <meta name="p:domain_verify" content="fc173d84e3a4de948ed4bda2908afd3e"/>
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="theme-color" content="#3BCCE5" />


  <link href="https://code-troopers.com/index.xml" rel="alternate" type="application/rss+xml" title="Code-Troopers" />
  <link rel="canonical" href="https://code-troopers.com/" />
  <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
  <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">
  <meta itemprop="name" content="Code-Troopers"/>

  {{- if ne (getenv "WEBPACK_HOT") "true" -}}
  <link rel="stylesheet" href="/main.css" />
  {{- end -}}

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
      window.addEventListener("load", function(){
          window.cookieconsent.initialise({
              "palette": {
                  "popup": {
                      "background": "#000"
                  },
                  "button": {
                      "background": "transparent",
                      "text": "#3BCCE5",
                      "border": "#3BCCE5"
                  }
              },
              "content": {
                  "message": "En poursuivant la navigation, vous acceptez l'utilisation de cookies.",
                  "dismiss": "J'ai compris",
                  "link": "En savoir plus"
              }
          })});
  </script>
</head>
