<!doctype html>
<html class="no-js" lang="fr-fr" itemscope itemtype="http://schema.org/Organization">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> Code-Troopers - Vous avez une idée, nous la réalisons</title>
  <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width" />

  <meta property="og:title" content=" Code-Troopers - Vous avez une idée, nous la réalisons" />
  <meta property="og:site_name" content="Code-Troopers - Vous avez une idée, nous la réalisons" />
  <meta property="og:url" content="https://code-troopers.com/" />
  <meta property="og:image" content="https://code-troopers.com/images/banner/logo-banner.png"/>


  <meta property="og:type" content="website" />


  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@codetroopers" />
  <meta name="twitter:creator" content="@codetroopers" />
  <meta name="twitter:title" content="Code-Troopers - Vous avez une idée, nous la réalisons" />
  <meta name="twitter:url" content="https://code-troopers.com/" />


  <meta name="twitter:description" content="Code-Troopers est une équipe de développeurs située à Tours, réalisant des projets aux environs de la Touraine et sur la région parisienne. Notre activité principale est le développement logiciel. Nos différents profils nous permettent d&#39;être complets sur les différentes phases de réalisation de vos projets informatiques (analyse, architecture, design, …)." />
  <meta name="twitter:image" content="https://code-troopers.com/images/logo-banner.png"/>
  <meta name="description" content="Code-Troopers est une équipe de développeurs située à Tours, réalisant des projets aux environs de la Touraine et sur la région parisienne. Notre activité principale est le développement logiciel. Nos différents profils nous permettent d&#39;être complets sur les différentes phases de réalisation de vos projets informatiques (analyse, architecture, design, …)." />
  <meta property="og:description" content="Code-Troopers est une équipe de développeurs située à Tours, réalisant des projets aux environs de la Touraine et sur la région parisienne. Notre activité principale est le développement logiciel. Nos différents profils nous permettent d&#39;être complets sur les différentes phases de réalisation de vos projets informatiques (analyse, architecture, design, …)."/>


  <meta name="p:domain_verify" content="fc173d84e3a4de948ed4bda2908afd3e"/>
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />


  <link href="https://code-troopers.com/index.xml" rel="alternate" type="application/rss+xml" title="Code-Troopers - Vous avez une idée, nous la réalisons" />
  <link rel="canonical" href="https://code-troopers.com/" />
  <meta itemprop="name" content="Code-Troopers"/>

  {{- if ne (getenv "WEBPACK_HOT") "true" -}}
  <link rel="stylesheet" href="/main.css" />
  {{- end -}}
</head>
