<!doctype html>
<html class="no-js" lang="fr-fr" itemscope itemtype="http://schema.org/Organization">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NWLQD2');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {{ $title := .Site.Title }}
  {{ if eq .IsHome false}}
    {{ if eq .Title "Works" }}
      {{ $title = (printf "%s - %s" "Réalisations" .Site.Title ) }}
    {{ else if eq .Title "Blogs" }}
      {{ $title = (printf "%s - %s" "Blog" .Site.Title ) }}
    {{ else }}
      {{ $title = (printf "%s - %s" .Title .Site.Title ) }}
    {{ end }}
  {{ end }}

  {{ $description := .Site.Params.description }}
  {{ if eq .IsHome false }}
    {{ with .Summary }}
      {{ $description = . }}
    {{ end }}
  {{ end }}

  {{ $cover := "https://code-troopers.com/images/banner/logo-banner.png" }}
  {{ with .Params.cover }}
        {{ $cover = (printf "https://code-troopers.com/%s" . ) }}
  {{ end }}

  {{ $url := "https://code-troopers.com" }}
  {{ with .URL }}
    {{ $url = (printf "%s%s" "https://code-troopers.com" .) }}
  {{ end }}

  <title>{{ $title }}</title>
  <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width" />

  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:site_name" content="Code-Troopers" />
  <meta property="og:url" content="{{ $url }}" />
  <meta property="og:image" content="{{ $cover }}"/>


  <meta property="og:type" content="website" />


  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@codetroopers" />
  <meta name="twitter:creator" content="@codetroopers" />
  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="twitter:url" content="{{ $url }}" />
  <meta name="twitter:image" content="{{ $cover }}"/>

  <meta name="twitter:description" content="{{ $description }}" />
  <meta name="description" content="{{ $description }}" />
  <meta property="og:description" content="{{ $description }}"/>


  <meta name="p:domain_verify" content="fc173d84e3a4de948ed4bda2908afd3e"/>
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="theme-color" content="#3BCCE5" />


  <link href="https://code-troopers.com/index.xml" rel="alternate" type="application/rss+xml" title="Code-Troopers" />
  <link rel="canonical" href="{{ $url }}" />
  <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
  <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">
  <meta itemprop="name" content="Code-Troopers"/>

  {{- if ne (getenv "WEBPACK_HOT") "true" -}}
  <link rel="stylesheet" href="/main.css" />
  {{- end -}}

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
      window.addEventListener("load", function(){
          window.cookieconsent.initialise({
              "palette": {
                  "popup": {
                      "background": "#000"
                  },
                  "button": {
                      "background": "transparent",
                      "text": "#3BCCE5",
                      "border": "#3BCCE5"
                  }
              },
              "content": {
                  "message": "En poursuivant la navigation, vous acceptez l'utilisation de cookies.",
                  "dismiss": "J'ai compris",
                  "link": "En savoir plus"
              }
          })});
  </script>
</head>
