<!-- header -->
<header>
    <nav>
        <a href="/" class="brand">Code-Troopers</a>
        <a href="#skills">Compétences</a>
        <a href="#portfolio">Réalisations</a>
        <a href="#casting">Casting</a>
        <a href="#contact">Contact</a>
        <a href="/blog" class="blog"><span>Blog</span></a>
    </nav>
    <div class="logo" title="Logo Code-Troopres"></div>
    <div class="introduction">
        <div>
            <h2>L'Agence</h2>
            <p>Fondée en 2014 à Tours, Code-Troopers est installée au sein de la bouillonnante Cité de la création et du
                numérique MAME.</p>
            <a href="#contact">Nous situer</a>
        </div>
        <div>
            <p class="gradient">Nous sommes une agence spécialisée dans le développement logiciel et la conception
                d’applications mobiles
                sur-mesure.</p>
            <p>Analyse pour de grands groupes, développement natif multisupport pour des start-ups innovantes… Les sept
                membres de notre structure s’engagent dans des suivis complets, rigoureux, au plus près des différentes
                phases de vos projets informatiques.
            </p>
        </div>
    </div>
</header>