{{ partial "header.html" . }}
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- header -->
<header>
    <nav>
        <a href="/" class="brand">Code-Troopers</a>
        {{ range .Site.Menus.main }}
            {{ if ne .Name "Works" }}
            <a href="{{ .URL }}" class="{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active {{ end }} {{ .Pre }}"><span>{{ .Name }}</span></a>
            {{ end}}
        {{ end }}
    </nav>
</header>