{{ partial "header.html" . }}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWLQD2"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- header -->
<header>
    <nav>
        <a href="/" class="brand"><img src="/img/Code-Troopers.png" alt="Code-Troopers"></a>
        {{ range .Site.Menus.main }}
            {{ if ne .Name "Works" }}
            <a href="{{ .URL }}" class="{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active {{ end }} {{ .Pre }}"><span>{{ .Name }}</span></a>
            {{ end}}
        {{ end }}
    </nav>
    <div class="hiring"><a href="https://team.code-troopers.com/"><img src="img/hiring.png" title="On recrute">On recrute</a></div>
</header>