section#blogs{
  background: $greywhite;

  & > a{
    color: $black;
  }

  a{
    color: $grey;
  }

}

section#articles {
  width: 1200px;
  margin: 0 auto;
  color: $bloggrey;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > div {
      position: relative;
      background: $white;
      margin: 0 30px 30px 0;
      padding-bottom: 60px;
      // max-width: 30%; //to deal with orphan
      flex: 1;
      &:nth-child(3n){
        margin-right: 0;
      }

      a{
        color: $black;
      }
      .read-more{
        font-size: 0.7rem;
        position: absolute;
        bottom: 30px;
      }
      a.read-more {
        display: inline-block;
        width: 40%;
        @include arrows();
        .arrow_box_right{
          margin-left: -10px;
        }
        transition: width 1s ease-in-out;
        &:hover {
          @include arrows($lightblue);
          color: $lightblue;
          width: 75%;

        }
      }

      img {
        max-width: 100%;
        min-width: 280px;
      }

      & > div {
        padding: 1rem 3rem;
        h2 {
          color: $black;
          @include separator($black);
        }

        p {
          font-size: 0.7rem;
          color: $bloggrey;
          line-height: 1.3rem;
        }

      }
    }
  }

  @include tags($lightgrey);
}

section#blog{
  width: 900px;
  background: $white;
  margin: 0 auto;
  article {
    & > img {
      width: 100%;
    }
    & > h2 {
      @include separator($black);
    }
    .content{
      a{
        color: $black;
        &:hover{
          color: inherit;
        }
      }
      color: $grey;
      font-family: "Montserrat Light", "Helvetica Neue", Arial, sans-serif;
      h1,h2,h3,h4,h5,h6{
        color: $black;
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
      }
      @include separator($black);
      pre{
        width:100%;
        overflow: auto;
      }
      .inlineBoxes {
        img {
          padding: 1rem;
          max-width: 20rem;
        }
      }
      ul {
        list-style: disc inside;
        li {
          > p {
            display: inline;
          }
        }
      }

    }
    section#author{
      float:right;
      color: $grey;
      font-size: 0.7rem;
      .author-name{
        background: $gradient;
        color: $white;
        padding: 0.5rem 1rem;
        border-radius: 0.75rem;
      }
    }
    .share{
      border-radius: 0.5rem;
      border: 2px solid $lightgrey;
      padding: 0.8rem;
      clear:both;
      font-size: 0.8rem;
      > span {
        color: $grey;
        //margin: 0 1rem;
      }
      > ul {
        float: right;
        margin: 0;
        li {
          display: inline-block;
          font-size: 1rem;
          padding: 0 0.8rem;
          &:hover {
            color: $darkblue;
            a{
              color: inherit;
            }
          }
        }
      }
    }
  }
  a{
    color: $grey;
  }


  @include tags($lightgrey);



}
