section#casting {
  background: $white;
  padding-bottom: 5rem;

  .wrapper {
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    > p {
      letter-spacing: initial;
    }
    p {
      color: $grey;
      text-align: center;
      line-height: 1.5rem;
    }

    a{
      color: $black;
    }
    ul.casting {
      & > li {
        margin: 2rem;
        min-width: 240px;
        &:first-child{
          margin-left:0;
        }
        &:last-child{
          margin-right: 0;
        }
        img {
          border-radius: 50%;
        }

        h2 {
          @include separator($grey, true);
        }

        p{
          font-size: 0.7rem;
        }
      }
    }

  }
}


@media screen and (max-width: 767px) {
  section#casting {
    .wrapper {
      ul.casting {
        & > li {
          margin: 0;
        }
      }
    }
  }
}