@import "variables";

section#text{
  background: $white;
  width: 1200px;
  margin: 0 auto;
  h2{
    @include separator($black);
  }
  address{
    white-space: pre-wrap;
  }
  a{
    color: $black;
  }
  @media screen and (max-width: 1199px) {
    width: 90%;
    letter-spacing: initial;
  }
}

