@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}

@mixin separator($color, $center : false){
  &::after {
    content: ' ';
    display: block;
    padding-top: 0.8rem;
    margin-left: -0.6rem;
    border-bottom: 1px solid $color;
    width: 50px;
    @if($center){
      margin: auto;
    }
  }
}

@mixin tags($color){
  ul.tags {
    li {
      border: 2px solid $color;
      border-radius: 0.5rem;
      width: auto;
      position: relative;
      display: inline-block;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      font-size: 0.7rem;

      span::before {
        content: ' ';
        background-size: 22px 22px;
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }
    li:hover{
      background: $gradient;
      color: $black;
      a{
        color: $black;
      }
    }
    &.float{
      float:left;
    }
  }
}

@mixin arrowRight($color: black){
  .arrow_box {
    margin-top: 0.75rem;
    position: relative;
    background: #222e36;
    border: 1px solid $color;
    border-radius: 4px;
    width: 100%;

    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(34, 46, 54, 0);
      border-left-color: $color;
      border-width: 4px;
      margin-top: -4px;
    }
    &:before {
      border-color: rgba(0, 0, 0, 0);
      border-left-color: $color;
      border-width: 5px;
      margin-top: -5px;
    }
  }
}