@import 'variables';
@import 'mixins';

section#portfolio {
  color: $white;
  background: $black;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    & > div {
      flex: 1;
      
      a{
        font-size: 0.7rem;
      }

      img {
        max-width: 100%;
        min-width: 320px;
      }

      & > div {
        padding: 1rem 3rem;
        h2 {
          @include separator($white);
        }

        p {
          font-size: 0.7rem;
          color: $grey;
          line-height: 1.3rem;
        }
        a.read-more{
          display: inline-block;
          width: 40%;
          transition: width 1s ease-in-out;
          .arrow_box{
            margin-left: -0.6rem;
          }
          @include arrows($white);
          &:hover{
            width:100%;
            @include arrows($lightblue);
          }
        }

      }
    }
  }

  ul.skill {
    li {
      border: 2px solid $darkgrey;
      border-radius: 0.5rem;
      width: auto;
      position: relative;
      display: inline-block;
      padding: 0.5rem 0.5rem 0.5rem 30px;
      font-size: 0.7rem;

      span::before {
        content: ' ';
        background-size: 22px 22px;
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }
    li.android span::before {
      background-image: url('../img/android.png');
    }
    li.ios span::before {
      background-image: url('../img/ios.png');
    }
    li.web span::before {
      background-image: url('../img/web.png');
    }
  }

}