@import '../../node_modules/swiper/dist/css/swiper.css';

section#stack{
  background: $darkgrey;
  h1{
    color: $white;
  }
  .stack-swiper{
      width: 1200px;
    position: relative;
    @media screen and (max-width: 1199px) {
      width: 100%;
    }
    margin: 0 auto;
    padding: 0 3rem 3rem;
    .arrow {
      @include arrows($lightgrey, 0);
      width: 24px;
      padding-bottom: 3rem;
      transition: width 1s ease-in-out, right 1s ease-in-out, left 1s ease-in-out;
      &:hover {
        width: 32px;
      }
      &.swiper-next {
        right: 12px;
        &:hover {
          right: 4px;
        }
      }
      &.swiper-prev {
        left: 12px;
        &:hover {
          left: 4px;
        }
      }
      &.swiper-next, &.swiper-prev {
        position: absolute;
        display: flex;
        top: 0;
        height: 100%;
        align-items: center;
        cursor: pointer;
        z-index: 1;
      }
    }

  .swiper-container{

    .swiper-slide{
      height: 8rem;
      width: 8rem;
      display:flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;

      img{
        object-fit: contain;
        max-width: 5rem;
        max-height: 5rem;
        padding: 1rem;
        background: $white;
        border-radius: 5rem;
        flex:1;
        filter: grayscale(1);
        &:hover{
          filter:none;
          cursor: pointer;
        }
      }
    }
  }
  }
}