$black: #000;
$darkgrey: #313131;
$grey: #959595;
$lightgrey: #EFEFEF;
$white: #FFF;
$greywhite: #F0F0F0;
$bloggrey: #969696;

$lightblue: #E39B36;
$darkblue: #DB713B;

$avatarLightBlue: #E39B36;
$avatarDarkBlue: #DB713B;

$tablet: 768px;
$smalldesktop: 1024px;
$desktop: 1200px;
$phone: 512px;
$smallphone: 320px;

$gradient: linear-gradient(60deg, $lightblue 0%,$darkblue 100%);
$avatarGradient: linear-gradient(90deg, $avatarLightBlue 0%,$avatarDarkBlue 100%);