.hll { background-color: #49483e }
.tok-c { color: #75715e } /* Comment */
.tok-err { color: #960050; background-color: #1e0010 } /* Error */
.tok-k { color: #66d9ef } /* Keyword */
.tok-l { color: #ae81ff } /* Literal */
.tok-n { color: #f8f8f2 } /* Name */
.tok-o { color: #f92672 } /* Operator */
.tok-p { color: #f8f8f2 } /* Punctuation */
.tok- { color: #f8f8f2 } /* Text */
.tok-cm { color: #75715e } /* Comment.Multiline */
.tok-cp { color: #75715e } /* Comment.Preproc */
.tok-c1 { color: #75715e } /* Comment.Single */
.tok-cs { color: #75715e } /* Comment.Special */
.tok-ge { font-style: italic } /* Generic.Emph */
.tok-gs { font-weight: bold } /* Generic.Strong */
.tok-kc { color: #66d9ef } /* Keyword.Constant */
.tok-kd { color: #66d9ef } /* Keyword.Declaration */
.tok-kn { color: #f92672 } /* Keyword.Namespace */
.tok-kp { color: #66d9ef } /* Keyword.Pseudo */
.tok-kr { color: #66d9ef } /* Keyword.Reserved */
.tok-kt { color: #66d9ef } /* Keyword.Type */
.tok-ld { color: #e6db74 } /* Literal.Date */
.tok-m { color: #ae81ff } /* Literal.Number */
.tok-s { color: #e6db74 } /* Literal.String */
.tok-na { color: #a6e22e } /* Name.Attribute */
.tok-nb { color: #f8f8f2 } /* Name.Builtin */
.tok-nc { color: #a6e22e } /* Name.Class */
.tok-no { color: #66d9ef } /* Name.Constant */
.tok-nd { color: #a6e22e } /* Name.Decorator */
.tok-ni { color: #f8f8f2 } /* Name.Entity */
.tok-ne { color: #a6e22e } /* Name.Exception */
.tok-nf { color: #a6e22e } /* Name.Function */
.tok-nl { color: #f8f8f2 } /* Name.Label */
.tok-nn { color: #f8f8f2 } /* Name.Namespace */
.tok-nx { color: #a6e22e } /* Name.Other */
.tok-py { color: #f8f8f2 } /* Name.Property */
.tok-nt { color: #f92672 } /* Name.Tag */
.tok-nv { color: #f8f8f2 } /* Name.Variable */
.tok-ow { color: #f92672 } /* Operator.Word */
.tok-w { color: #f8f8f2 } /* Text.Whitespace */
.tok-mf { color: #ae81ff } /* Literal.Number.Float */
.tok-mh { color: #ae81ff } /* Literal.Number.Hex */
.tok-mi { color: #ae81ff } /* Literal.Number.Integer */
.tok-mo { color: #ae81ff } /* Literal.Number.Oct */
.tok-sb { color: #e6db74 } /* Literal.String.Backtick */
.tok-sc { color: #e6db74 } /* Literal.String.Char */
.tok-sd { color: #e6db74 } /* Literal.String.Doc */
.tok-s2 { color: #e6db74 } /* Literal.String.Double */
.tok-se { color: #ae81ff } /* Literal.String.Escape */
.tok-sh { color: #e6db74 } /* Literal.String.Heredoc */
.tok-si { color: #e6db74 } /* Literal.String.Interpol */
.tok-sx { color: #e6db74 } /* Literal.String.Other */
.tok-sr { color: #e6db74 } /* Literal.String.Regex */
.tok-s1 { color: #e6db74 } /* Literal.String.Single */
.tok-ss { color: #e6db74 } /* Literal.String.Symbol */
.tok-bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.tok-vc { color: #f8f8f2 } /* Name.Variable.Class */
.tok-vg { color: #f8f8f2 } /* Name.Variable.Global */
.tok-vi { color: #f8f8f2 } /* Name.Variable.Instance */
.tok-il { color: #ae81ff } /* Literal.Number.Integer.Long */
